[Unit]
Description=Postgres database
After=network-online.target

Requires=devops.network
After=devops.network

[Container]
ContainerName=postgres
Image=docker.io/postgres:18-alpine
AutoUpdate=registry

HealthCmd="pg_isready -U postgres"

Network=devops
HostName=postgres
PublishPort=5432:5432

Environment=POSTGRES_PASSWORD=default_change_me

Volume=postgres-data-18:/var/lib/postgresql/18/docker:Z

[Service]
Restart=always
TimeoutStartSec=1000

[Install]
WantedBy=default.target
