[Unit]
Description=Wiki.js documentation server
Requires=postgres.service
After=postgres.service

Requires=devops.network
After=devops.network

[Container]
ContainerName=wiki
Image=ghcr.io/requarks/wiki:2
AutoUpdate=registry

HealthCmd=curl -f http://127.0.0.1:3000

Network=devops
HostName=wiki

# Secrets
Secret=wikijs-db-password

Environment=DB_TYPE=postgres
Environment=DB_HOST=postgres
Environment=DB_PORT=5432
Environment=DB_USER=wiki
Environment=DB_PASS_FILE=/run/secrets/wikijs-db-password
Environment=DB_NAME=wiki

[Service]
Restart=always
TimeoutStartSec=60

[Install]
WantedBy=default.target
