[Unit]
Description=Technitium DNS server
After=network-online.target

[Container]
ContainerName=technitium
Environment=DNS_SERVER_DOMAIN=rpi-1.dns
HostName=rpi-1.dns
Image=docker.io/technitium/dns-server:14.3.0
AutoUpdate=registry

HealthCmd="dig @127.0.0.1 google.com"

PublishPort=5380:5380/tcp
PublishPort=53443:53443/tcp
PublishPort=53:53/udp
PublishPort=53:53/tcp
Sysctl="net.ipv4.ip_local_port_range=1024 65535"
Volume=technitium-data:/etc/dns

[Service]
Restart=always
