[Unit]
Description=Nginx reverse proxy
Requires=postgres.service
After=postgres.service

[Container]
ContainerName=nginx
Image=docker.io/jc21/nginx-proxy-manager:2
AutoUpdate=registry

HealthCmd="/usr/bin/check-health"

Network=devops.network
HostName=nginx
PublishPort=443:443
PublishPort=81:81

Environment=TZ=America/New_York
Environment=FTLCONF_dns_listeningMode=all

Environment="DB_POSTGRES_HOST=postgres"
Environment="DB_POSTGRES_PORT=5432"
Environment="DB_POSTGRES_USER=nginx"
Environment="DB_POSTGRES_PASSWORD=1PmDFSAqIrJok7Z1L5fmePe1"
Environment="DB_POSTGRES_NAME=nginx"

Volume=nginx-data:/data:z
Volume=nginx-xerts:/etc/letsencrypt:z
Volume=%h/homelab/hosts/optiplex/.certs-backup:/data/custom_ssl:z

# [Service]
# Restart=always
# TimeoutStartSec=60

[Install]
WantedBy=default.target
