listen 443 ssl http2;
include conf.d/include/ssl-ciphers.conf;
include conf.d/include/force-ssl.conf;
ssl_certificate /data/custom_ssl/pihole.fivelabs.tech/fullchain.pem;
ssl_certificate_key /data/custom_ssl/pihole.fivelabs.tech/privkey.pem;
