[Unit]
Description=Patroni PostgreSQL HA
After=network-online.target

[Service]
Type=simple
User=postgres
ExecStart=/usr/local/bin/patroni /etc/patroni.yml
Restart=always

[Install]
WantedBy=multi-user.target
