[Unit]
Description=qBittorrent Container
Wants=network-online.target
After=network-online.target
Requires=gluetun.service

[Container]
ContainerName=qbittorrent
Image=docker.io/linuxserver/qbittorrent:latest

Volume=qbittorrent-config:/config
Volume=/mnt/Archive/Downloads:/downloads:z
Volume=%h/homelab/hosts/optiplex/.certs:/Certs:z,ro

Environment=TZ=America/New_York
Environment=PUID=1000
Environment=PGID=1000

Network=devops

PublishPort=8080:8080
PublishPort=8999:8999
PublishPort=8999:8999/udp

[Service]
Restart=always
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
