[Unit]
ContainerName=qBittorrent
Description=qBittorrent Container
Wants=network-online.target
After=network-online.target

[Container]
# Image (change tag as desired)
Image=docker.io/linuxserver/qbittorrent:latest

# Volumes (named volumes automatically created if they don't exist)
Volume=qbittorrent-config:/config
Volume=qbittorrent-downloads:/downloads
Volume=/mnt/NAS/Archive:/Archive

# Environment
Environment=TZ=America/New_York
# Environment=PUID=1000
# Environment=PGID=1000

# Network
Network=devops

# Ports (host:container)
PublishPort=8080:8080
PublishPort=8999:8999
PublishPort=8999:8999/udp

[Service]
Restart=always
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
