[Unit]
Description=Patroni PostgreSQL Node (rpi-2)
After=etcd.service
Requires=etcd.service
Requires=postgres-volume.service

[Container]
Image=docker.io/zalando/patroni:latest
Network=host
Volume=postgres.volume:/var/lib/postgresql/data

Environment=PATRONI_SCOPE=cluster1
Environment=PATRONI_NAME=rpi-2

Environment=PATRONI_RESTAPI_LISTEN=0.0.0.0:8008
Environment=PATRONI_RESTAPI_CONNECT_ADDRESS=rpi-2:8008

Environment=PATRONI_ETCD_HOSTS=rpi-1:2379,rpi-2:2379

Environment=PATRONI_POSTGRESQL_DATA_DIR=/var/lib/postgresql/data
Environment=PATRONI_POSTGRESQL_LISTEN=0.0.0.0:5432
Environment=PATRONI_POSTGRESQL_CONNECT_ADDRESS=rpi-2:5432

Environment=PATRONI_POSTGRESQL_PARAMETERS_WAL_LEVEL=replica
Environment=PATRONI_POSTGRESQL_PARAMETERS_HOT_STANDBY=on

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
