[Unit]
Description=Technitium DNS server
After=network-online.target

[Container]
ContainerName=technitium
Environment=DNS_SERVER_DOMAIN=rpi-2.dns
HostName=rpi-2.dns
Image=docker.io/technitium/dns-server:14.3.0
AutoUpdate=registry
Network=host

HealthCmd="dig @127.0.0.1 google.com"

Volume=technitium-data:/etc/dns

[Service]
Restart=always
