[Unit]
Description=Authelia

Requires=devops.network
After=devops.network

[Container]
Image=docker.io/authelia/authelia:latest
ContainerName=authelia
AutoUpdate=registry

Network=devops
HostName=authelia

Volume=%h/homelab/hosts/optiplex/containers/authelia/.config:/config:Z
Volume=%h/homelab/hosts/optiplex/.certs/optiplex.root:/config/certs/lldap-ca.pem:z

PublishPort=9091:9091

HealthCmd=/app/healthcheck.sh

Environment=TZ=America/New_York

[Service]
Restart=always
TimeoutStartSec=60

[Install]
WantedBy=default.target
