[Unit]
Description=Jellyfin media server

Requires=devops.network
After=devops.network

[Container]
Image=docker.io/jellyfin/jellyfin:latest
ContainerName=jellyfin
Network=devops
GroupAdd=122
AddDevice=/dev/dri/renderD128:/dev/dri/renderD128

Volume=jellyfin-config:/config:Z
Volume=/mnt/Archive/Media:/media:z

PublishPort=8096:8096/tcp
PublishPort=8920:8920/tcp

Environment=TZ=America/New_York
Environment=PUID=1000
Environment=PGID=1000

[Service]
Restart=on-failure
TimeoutStopSec=70
Device=/dev/dri/renderD128

[Install]
WantedBy=default.target
