[Unit]
Description=Gitea Runner Container 02
Requires=gitea.service
After=gitea.service
After=network-online.target

# Required to resolve gitea.fivelabs.tech
Requires=technitium.service
After=technitium.service

[Container]
# Image
Image=docker.io/gitea/act_runner:latest
ContainerName=gitea-runner-02
Network=devops
PodmanArgs=--security-opt label=disable
AutoUpdate=registry

HealthCmd="wget --no-check-certificate -O /dev/null https://gitea.fivelabs.tech"

# Volumes
Volume=gitea-runner-02:/data
Volume=/run/user/1000/podman/podman.sock:/run/user/1000/podman/podman.sock:z

Volume=%h/homelab/hosts/optiplex/.certs-backup/optiplex.root.cert:/etc/containers/certs.d/gitea.lab/ca.crt:z
Volume=%h/homelab/hosts/optiplex/.certs-backup/optiplex.root.cert:/etc/ssl/certs/optiplex.root.crt:z
Volume=%h/homelab/hosts/optiplex/containers/gitea-runner/buildkitd.toml:/etc/buildkit/buildkitd.toml:z
Volume=%h/homelab/hosts/optiplex/containers/gitea-runner/config.yaml:/config.yaml:z

# Environment variables
Environment=CONFIG_FILE=/config.yaml
Environment=GITEA_INSTANCE_URL=https://gitea.fivelabs.tech
Environment=GITEA_RUNNER_REGISTRATION_TOKEN=EBFVp7DteIRPDEs0Z9qMcDZGmZbzDKwk4tU3uYpY
Environment=GITEA_RUNNER_NAME=gitea-runner
Environment=DOCKER_HOST=unix:///run/user/1000/podman/podman.sock
Environment=GIT_SSL_NO_VERIFY=true
Environment=GID=1000
Environment=UID=1000
Environment=BUILDKITD_FLAGS=--config=/etc/buildkit/buildkitd.toml

[Service]
Restart=always
TimeoutStartSec=1000

[Install]
WantedBy=default.target
