[Unit]
Description=MinIO S3-compatible object storage
After=network-online.target

[Container]
ContainerName=minio
Image=quay.io/minio/minio:latest
Network=host
Exec=server /data --console-address ":9001"
Environment=MINIO_ROOT_USER=admin
Secret=minio-root-password,type=env,target=MINIO_ROOT_PASSWORD
Volume=/mnt/Archive/Backup/MinIO:/data:z

[Service]
Restart=always

[Install]
WantedBy=default.target
